.box{
    width: 200px;
    height: 200px;
    border: 2px solid cadetblue;
    background-color: royalblue;
    transition: transform .3s;
}
.box:hover{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    background-color: forestgreen;
    transform: rotate(45deg);
}